<section>
  <div class="line"></div>

  <p>
    For information about our launch services,
    <span class="line-through">don't</span>
    contact
    <a (click)="warning()">sales@spaceeats.com</a>
  </p>

  <a (click)="warning()" class="link-btn">
    <div class="hover"></div>
    <div class="text">DOWNLOAD USERS GUIDE</div>
  </a>
  <a (click)="warning()" class="link-btn">
    <div class="hover"></div>
    <div class="text">CAPABILITIES AND SERVICES</div>
  </a>
</section>

<footer>
  <span class="copyright">SPACE EATS © 2023</span>
  <a (click)="warning()">TWITTER</a>
  <a (click)="warning()">YOUTUBE</a>
  <a (click)="warning()">INSTAGRAM</a>
  <a (click)="warning()">FLICKR</a>
  <a (click)="warning()">LINKEDIN</a>
  <a (click)="warning()">PRIVACY POLICY</a>
  <a (click)="warning()">SUPPLIERS</a>
</footer>
