section {
  margin: 75px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  min-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.title {
  font-size: 140px;
  line-height: 140px;
}

.text {
  font-size: 22px;
}
