section {
  margin: 75px 0;
  text-align: center;
}

footer {
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

p {
  margin-top: 40px;
  color: #919191;
}

a {
  transition: color 1s cubic-bezier(0.25, 1, 0.25, 1),
    background-color 1s cubic-bezier(0.25, 1, 0.25, 1);
}

a,
a:visited {
  color: #fff;
}

a:hover {
  color: #8b939b;
}

p,
a,
.copyright {
  font-size: 12px;
}

.copyright {
  color: #979797;
}

.line-through {
  text-decoration: line-through;
}

.line {
  width: 1px;
  height: 140px;
  margin: auto;
  background-color: #fff;
}

.link-btn {
  display: inline-block;
  margin: 30px 10px 0;
  padding: 0 15px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #fff;
  position: relative;

  .hover {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;

    transform-origin: top center;
    transform: scale3d(1, 0, 1);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .text {
    line-height: 50px;
    transition: color 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.link-btn:hover {
  .hover {
    transform-origin: bottom center;
    transform: scale3d(1, 1, 1);
  }

  .text {
    color: #000;
  }
}
