@import "../../../../../../shared/variables";

p {
  margin-bottom: 16px;
  font-size: $fontSizeS;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

section {
  box-sizing: border-box;
  padding: 16px;
  background-color: #f5f8f2;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "random svg" "random  svg" "random text";
}

span {
  font-size: $fontSizeXS;
}

.icon-flex {
  display: flex;
}

.random {
  width: 64px;
  height: 64px;
  background-color: #fff;
  cursor: pointer;
}
