section {
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  animation: appear 0.5s ease-in-out 0.6s;
  animation-fill-mode: both;
  td {
    text-align: right;
    color: #fff;
    padding: 20px 0;
    border-bottom: 1pt solid rgba(255, 255, 255, 0.3);
  }

  td:first-child {
    text-align: left;
  }
}

img {
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  background-position: center center;
  background-size: cover;
}

h2,
h3 {
  animation: appear 0.5s ease-in-out;
}

p {
  margin: 16px 0 32px 0;
  line-height: 1.6;
  animation: appear 0.5s ease-in-out 0.4s;
  animation-fill-mode: both;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.info-container {
  width: 50%;
  max-width: 520px;
  position: absolute;
  top: 13%;
  left: 50px;
}

.button-container {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  column-gap: 10px;
  animation: appear 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;

  button {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid transparent;

    transition: opacity 0.3s;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }

  button:focus {
    border-bottom: 1px solid #fff;
  }

  span {
    font-size: 14px;
    color: #ffffff80;
  }
}
