@import "../../../shared/variables";

button {
  width: 100%;
  padding: 9px 24px;
  cursor: pointer;
  font-size: $fontSizeXL;
  font-weight: bold;
  border-radius: 50rem;
  background-color: #1877f2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
