button {
  cursor: pointer;
}

.sign-in {
  width: 100%;
  padding: 9px 24px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50rem;
}

.socials {
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: relative;
  border-bottom: 1px solid #00000014;

  .or {
    padding: 0 16px;
    font-size: 16px;
    line-height: 28px;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
}

form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  app-input {
    margin-top: 16px;
  }
}

.forgot-password {
  margin-top: 4px;
  font-size: 14px;
  color: #125fca;
  align-self: flex-end;
}

.forgot-password:hover {
  span {
    text-decoration: underline;
  }
}

.sign-in {
  width: 100%;
  margin-top: 16px;
  padding: 9px 24px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50rem;
  background-color: #000;
  color: #fff;

  &.disabled {
    opacity: 0.25;
    cursor: default;
  }
}

.create-account {
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;

  span {
    text-decoration: underline;
  }
}

.create-account:hover {
  span {
    text-decoration: none;
  }
}
