button {
  cursor: pointer;
}

.socials {
  width: 100%;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  position: relative;
  border-bottom: 1px solid #00000014;

  .or {
    padding: 0 16px;
    font-size: 16px;
    line-height: 28px;
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
}

form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  app-input {
    margin-top: 16px;
  }
}

.checkbox {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}

.checkbox:hover {
  svg {
    background-color: #0000000a;
  }
}

.sign-in {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 9px 24px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50rem;
  background-color: #000;
  color: #fff;

  &.disabled {
    opacity: 0.25;
    cursor: default;
  }
}

.terms {
  font-size: 14px;
  line-height: 20px;
  color: #3c4c4f;

  a {
    text-decoration: underline;
    color: #125fca;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }
}

.create-account {
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;

  span {
    text-decoration: underline;
  }
}

.create-account:hover {
  span {
    text-decoration: none;
  }
}
