h3 {
  font-weight: bold;
  font-size: 24px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #0000000a;
}

.container {
  width: 75%;
  max-width: 34.5rem;
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.footer-btn {
  min-height: 38px;
  margin-top: 24px;
  padding: 8px 16px;
  font-size: 19px;
  border: 1px solid #dbd9d7;
  border-radius: 50em;
  line-height: 24px;
  font-weight: bold;
}
