@import "../../../shared/variables";

label,
input {
  width: 100%;
}

label {
  font-weight: 700;
}

input {
  box-sizing: border-box;
  height: 48px;
  margin-top: 4px;
  padding: 12px 16px;
  background: none;
  outline: none;
  border: 1px solid #575655;
  border-radius: 12px;
  color: #242e30;
  cursor: text;
  font-size: $fontSizeM;
  font-weight: 400;
  line-height: 24px;
}

input:hover {
  background-color: #f5f5f5;
}

.input {
  position: relative;
}

.show {
  display: grid;
  place-items: center;
  border-radius: 4px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.show:hover {
  background-color: #f5f5f5;
}

.error {
  margin-top: 4px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: $fontSizeS;
  color: #d50525;
}

.bar {
  height: 4px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 2px;
  background-color: #f5f3f1;
  position: relative;

  .filled {
    height: 4px;
    position: absolute;
    left: 0;

    &.weak {
      background-color: #d50525;
    }
    &.medium {
      background-color: #125fca;
    }
    &.strong {
      background-color: #017a39;
    }
  }
}

.strength {
  font-size: $fontSizeS;
}
