<section class="top-container">
  <div class="info-text">
    <h4>TODO</h4>
  </div>
</section>

<section #presentation class="presentation">
  <div
    class="slider {{ isTranslating ? 'translating' : '' }}"
    [style.transform]="translateVal"
  >
    <div class="container">
      <div class="info">
        <h3>Justus</h3>
        <h2>Overview</h2>

        <table>
          <tbody>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="slider-content"
        [style.background-image]="
          'url(./assets/media/slider/' + mediaArr[0] + '.jpg)'
        "
      ></div>
    </div>

    <div class="container">
      <div class="info">
        <h3>Justus</h3>
        <h2>Overview</h2>

        <table>
          <tbody>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="slider-content"
        [style.background-image]="
          'url(./assets/media/slider/' + mediaArr[0] + '.jpg)'
        "
      ></div>
    </div>

    <div class="container">
      <div class="info">
        <h3>Justus</h3>
        <h2>Overview</h2>

        <table>
          <tbody>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="slider-content"
        [style.background-image]="
          'url(./assets/media/slider/' + mediaArr[0] + '.jpg)'
        "
      ></div>
    </div>
  </div>

  <button
    (click)="slide(false)"
    class="prev-btn"
    [class.disabled]="index === 0"
    [disabled]="index === 0"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="6"
      height="10"
      viewBox="0 0 6 10"
    >
      <path
        d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z"
        transform="translate(6) rotate(90)"
        fill="#fff"
      ></path>
    </svg>
  </button>
  <button
    (click)="slide(true)"
    class="next-btn"
    [class.disabled]="index === 2"
    [disabled]="index === 2"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="6"
      height="10"
      viewBox="0 0 6 10"
    >
      <path
        d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z"
        transform="translate(0 10) rotate(-90)"
        fill="#fff"
      ></path>
    </svg>
  </button>

  <div class="bottom-nav">
    <button
      *ngFor="let number of [0, 1, 2]"
      class="bullet"
      [class.active]="number === this.index"
      (click)="navigate(number)"
    ></button>
  </div>
</section>
