<section>
  <button (click)="open = !open">
    <span> {{ title }}</span>

    <svg viewBox="0 0 16 16" width="24px" height="24px" *ngIf="!open">
      <path
        d="M2.82 5.044L8 10.399 13.197 5l.963.875-5.364 5.565a1.164 1.164 0 01-1.636 0L1.875 5.945l.945-.901z"
      ></path>
    </svg>

    <svg viewBox="0 0 16 16" width="24px" height="24px" *ngIf="open">
      <path
        d="M13.18 10.97L8 5.615l-5.18 5.399-.962-.875 5.346-5.565a1.164 1.164 0 011.671 0l5.25 5.495-.945.901z"
      ></path>
    </svg>
  </button>

  <div class="content" *ngIf="open">
    <ng-content></ng-content>
  </div>
</section>
