button {
  cursor: pointer;
}

.sign-in {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 9px 24px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50rem;
  background-color: #000;
  color: #fff;

  &.disabled {
    opacity: 0.25;
    cursor: default;
  }
}
