<main [class.blocked]="blockPage">
  <app-header
    (showWarning)="triggerWarning()"
    (blockPage)="blockPage = $event"
  ></app-header>
  <app-landing-page (showWarning)="triggerWarning()"></app-landing-page>

  <app-stats></app-stats>
  <app-progress
    (showWarning)="triggerWarning()"
    *ngIf="!blockPage"
  ></app-progress>
  <app-counter></app-counter>
  <app-image-text></app-image-text>
  <app-product-presentation></app-product-presentation>
  <app-slider></app-slider>
  <app-footer (showWarning)="triggerWarning()"></app-footer>

  <app-warning [warning]="warning"></app-warning>
</main>
