<section>
  <div class="content">
    <div class="image-text">
      <img
        src="./assets/media/stats/billing_icon.png"
        alt="A circle with a dollar sign inside"
      />
      <span class="title">COST AS LOW AS $65K</span>
    </div>
    <span class="text"
      >$65k for any order delivered by rocket. Price of the food is
      <u>not</u> included.</span
    >
  </div>
  <div class="content">
    <div class="image-text">
      <img
        src="./assets/media/stats/calendar_icon.png"
        alt="A circle with a dollar sign inside"
      />
      <span class="title">SCHEDULE UNCERTAINTY</span>
    </div>
    <span class="text"
      >Rocket launches happen once a week. The day of the launch is announced
      one day prior, so be on the lookout!</span
    >
  </div>
  <div class="content">
    <div class="image-text">
      <img
        src="./assets/media/stats/contract_icon.png"
        alt="A circle with a dollar sign inside"
      />
      <span class="title">CONTRACT INFLEXIBILITY</span>
    </div>
    <span class="text"
      >If your order is delayed, we are charging 100% of monies paid toward the
      cost of reattempting to execute the order, subject to a 10% reattempt
      fee.</span
    >
  </div>
</section>
