section {
  margin: 75px auto;
  display: flex;
  justify-content: center;
}

.content {
  min-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1em;
}

.image-text {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-align: left;

  img {
    display: inline-block;
    width: 70px;
    height: auto;
  }
}

.title {
  width: 100%;
  max-width: 220px;
  font-size: 30px;
  font-weight: bold;
}

.text {
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  line-height: 25px;
}
