<section (click)="close.emit()">
  <div class="container" (click)="stopPropagation($event)">
    <app-list
      (close)="close.emit()"
      (changeComponent)="activeComponent = $event"
      (showWarning)="showWarning.emit()"
      *ngIf="activeComponent === 'list'"
    ></app-list>

    <app-sign-in
      *ngIf="activeComponent === 'sign-in'"
      (showWarning)="showWarning.emit()"
      (changeComponent)="activeComponent = $event"
    ></app-sign-in>

    <app-password
      *ngIf="activeComponent === 'password'"
      (showWarning)="showWarning.emit()"
      (changeComponent)="activeComponent = 'list'"
    ></app-password>

    <app-create-account
      *ngIf="activeComponent === 'create-account'"
      (showWarning)="showWarning.emit()"
      (changeComponent)="activeComponent = $event"
    ></app-create-account>

    <app-orders-favourites
      *ngIf="activeComponent === 'orders' || activeComponent === 'favourites'"
      [activeComponent]="activeComponent"
      (changeComponent)="activeComponent = 'list'"
      (showWarning)="showWarning.emit()"
    ></app-orders-favourites>

    <app-stamp-cards
      *ngIf="activeComponent === 'stamp-cards'"
    ></app-stamp-cards>
  </div>
</section>
