.tile {
  height: 100vh;

  display: grid;
  place-items: center;
  justify-items: flex-start;
}

.background {
  // transform: scaleX(-1);
  background-image: url(../../assets/media/landing-page.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile-content {
  padding-left: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
}
