<p>
  These Terms and Conditions StampCard Customers apply to the relationship
  between Lieferando.de and the Customer who subscribed to the StampCard
  Programme.
</p>

<app-terms-btn title="Definitions">
  <span>
    Defined terms have the same meaning as in the General Terms and Conditions
    Customers.
  </span>

  <span>
    General Terms and Conditions Consumers: the most recent version of the
    general terms and conditions for consumers of Lieferando.de.
  </span>

  <span>
    Participating Restaurant: a Restaurant that participates in the StampCard
    Programme and awards Stamps to Customers.
  </span>

  <span>
    Stamp: Restaurant-specific Stamp that is awarded for every Order placed with
    a Participating Restaurant.
  </span>

  <span>
    StampCard: Restaurant-specific overview of collected Stamps by a Customer,
    received by email, which is full and complete after having collected five
    Stamps.
  </span>

  <span>
    StampCard Programme: award programme that allows Customers to collect Stamps
    from Participating Restaurants on a StampCard which is full and complete
    after having collected five Stamps from the same Participating Restaurant
    and then results in a StampCard Voucher, which is redeemable with an Order
    with that Participating Restaurant.
  </span>

  <span>
    StampCard Voucher: Restaurant-specific Voucher derived from a full
    StampCard, with a value of 10% of the total Order amount of the five Orders
    for which the Stamps were collected.
  </span>

  <span>
    Terms and Conditions StampCard Customers: these terms and conditions in
    respect of the StampCard Programme of Lieferando.de, as amended from time to
    time.
  </span>
</app-terms-btn>

<app-terms-btn title="Applicability">
  <span>
    1. To subscribe to the StampCard Programme, a Customer is required to sign
    up for the newsletter with a valid email address.
  </span>

  <span
    >2. By signing up for the newsletter, a Customer agrees that these Terms and
    Conditions StampCard Customers will apply to the relationship between
    Lieferando.de and the Customer and will also apply to the relationship
    between the Customer and one or more Participating Restaurants, which will
    be established as a consequence of the Customer's subscription to the
    StampCard Programme.</span
  >

  <span>
    3. A Restaurant decides at its sole discretion whether or not to participate
    in the StampCard Programme.
  </span>

  <span>
    4. The General Terms and Conditions Customers continue to apply to the
    relationship between Lieferando.de and the Customer, unless they explicitly
    differ from these Terms and Conditions StampCard Restaurants. In that
    situation the latter will prevail.
  </span>

  <span>
    5. Lieferando.de may refuse at its sole discretion the subscription of a
    Customer in the StampCard Programme.
  </span>
</app-terms-btn>

<app-terms-btn title="Stamps and StampCard Vouchers">
  <span>
    6. Stamps and StampCard Vouchers have no monetary or cash value and cannot
    be converted into any currency.
  </span>

  <span>
    7. Stamps are awarded to the Customer exclusively by a Participating
    Restaurant. 8. Lieferando.de is the sole technical provider of the StampCard
    Programme, publishing the StampCard Programme on its Platform.
  </span>

  <span>
    9. Customers with a valid email address will automatically receive 1 Stamp
    for every Order placed with a Participating Restaurant.
  </span>

  <span>
    10. After placing an Order with a Participating Restaurant, a Customer that
    is signed up for the newsletter will automatically receive an email within
    48 hours, showing the up-to-date overview of StampCards. A maximum of seven
    StampCards from Participating Restaurants will be displayed, sorted by the
    number of Stamps.
  </span>

  <span>
    11. A StampCard is full and complete after five Stamps are collected from
    the same Participating Restaurant. A StampCard Voucher will be emailed to
    the Customer within 48 hours after the StampCard was completed.
  </span>

  <span>
    12. Stamps expire 12 months from the date such Stamps have been awarded to
    the Customer.
  </span>

  <span>
    13. Stamps are not transferable between Participating Restaurants,
    Customers, email addresses, StampCards or otherwise.
  </span>

  <span>
    14. Customers are required to report any inaccuracies in their collected
    Stamps to Lieferando.de’s customer service within one month of discovering
    such inaccuracies.
  </span>

  <span> 15. Lieferando.de has the right: </span>

  <span> • to correct any unjustly awarded Stamps; or </span>

  <span> • to correct Stamps that were awarded while the Order and/ or </span>

  <span> • payment thereof was cancelled; and </span>

  <span>
    • to annul any StampCard Vouchers that are redeemed with such Stamps.
  </span>
</app-terms-btn>

<app-terms-btn title="StampCard Vouchers">
  <span> 16. A StampCard Voucher: </span>

  <span>
    • can only be redeemed with an Order with the Participating Restaurant from
    which the Stamps were received;
  </span>

  <span>
    • can only be redeemed in combination with an online payment; and
  </span>

  <span> • cannot be combined with other vouchers of any kind. </span>

  <span>
    17. The value of a StampCard Voucher equals 10% of the total Order amount of
    the five Orders for which the Stamps were collected.
  </span>

  <span>
    18. The StampCard Voucher does not have to be redeemed with a single Order,
    but can be applied to as many Orders as necessary until the complete value
    of the StampCard Voucher is used.
  </span>

  <span>
    19. The StampCard Voucher is redeemable for up to 90 days after the
    StampCard Voucher was issued.
  </span>

  <span>
    20. After expiration of the StampCard Voucher, the Stamps that were used to
    complete that StampCard Voucher will not be returned to the Customer.
  </span>
</app-terms-btn>

<app-terms-btn
  title="Duration, modification and termination of the StampCard Programme"
>
  <span>
    21. Lieferando.de can alter these Terms and Conditions StampCard Customers
    and any aspect of the StampCard Programme, including redemption procedures
    and rewards in any respect, all without prior notice. For example, this
    includes, but is not limited to: adding, deleting, or changing time limits
    for collection or redemption or use of Stamps or StampCard Vouchers.
    Lieferando.de will publish the amended Terms and Conditions StampCard
    Customers on the Platform.
  </span>

  <span>
    21. A Customer's continued participation in the StampCard programme
    constitutes his/ her acceptance of any changes to these Terms and Conditions
    StampCard Customers.
  </span>

  <span>
    22. A Customer can choose to leave the StampCard Programme at any time.
  </span>

  <span>
    23. Customers leave the StampCard Programme by unsubscribing from the
    newsletter. By leaving the StampCard Programme, a Customer terminates the
    relationship with Lieferando.de with respect to the StampCard Programme and
    forfeits the right to any Stamps accrued.
  </span>

  <span>
    24. Lieferando.de reserves the right to cancel the StampCard Programme at
    any time without prior notice. In the case of cancellation of the StampCard
    Programme, Customers can no longer collect Stamps. However, StampCard
    Vouchers will remain valid until their expiration date.
  </span>

  <span>
    25. A Participating Restaurant is free to terminate its participation in the
    StampCard Programme at any time without notice to Customers. In the case of
    termination by a Participating Restaurant, a Customer can no longer collect
    Stamps from that Restaurant. However, StampCard Vouchers from that
    Restaurant remain valid until their expiration date.
  </span>

  <span>
    26. Lieferando.de reserves the right to withhold or suspend a Customer from
    collecting Stamps in the case of a (suspected) violation of the General
    Terms and Conditions Consumers or these Terms and Conditions StampCard
    Customers.
  </span>
</app-terms-btn>

<app-terms-btn title="Other">
  <span>
    27. Lieferando.de's liability is limited as described in the General Terms
    and Conditions Consumers.
  </span>

  <span>
    28. For complaints about the StampCard Programme, Lieferando.de refers to
    its complaints policy in the General Terms and Conditions Consumers.
  </span>
</app-terms-btn>
