<p>
  With the StampCard programme, each time you order we'll save up 10% of your
  order value towards a nice discount. When you've hit your 5th order, we'll
  release your total saved up discount in the form of a personal voucher. The
  voucher is valid for 3 months after the collection date and can only be
  redeemed at the specific restaurant you've ordered from.
</p>

<img
  src="../../../../../../assets/media/stamp-cards/how.gif"
  alt="A gif I took from Lieferando"
  width="100%"
/>

<span>StampCard benefits:</span>

<ol>
  <li>Choose from a large variety of participating restaurants</li>
  <li>Save up with every order you place</li>
  <li>Get rewarded for your loyalty</li>
  <li>Receive a voucher from your favourite restaurant</li>
</ol>

<button>Start saving now!</button>
