@import "../../../../../../shared/variables";
p {
  margin-bottom: 16px;
  font-size: $fontSizeS;
}

img {
  margin-bottom: 16px;
}

ol {
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 20px;
}

li,
span {
  font-size: $fontSizeXS;
}

li {
  line-height: 18px;
}

span {
  font-weight: bold;
}

button {
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  font-size: $fontSizeL;
  border-radius: 50rem;
}
