button {
  width: 100%;
  padding: 9px 24px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50rem;
  background-color: #efedea;
  color: #8c999b;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}
