<section>
  <div class="background"></div>

  <div class="container">
    <div class="content">
      <h2>ORDER YOUR FOOD ONLINE</h2>
      <p>
        Find all the information you need to make an order online, everything
        from fast food to desserts to the finest cuisine. Once your order is
        approved, Space Eats will provide you with the fastest and least
        efficient method of food delivery.
      </p>
      <p>
        Rockets are launched once a week and orders are only processed between
        10 and 11 AM on the given day. More details can be found in the Space
        Eats User's Guide.
      </p>

      <a href="/" class="link-btn">
        <div class="hover"></div>
        <div class="text">VIEW USER'S GUIDE</div>
      </a>
    </div>

    <div class="progress">
      <span>PLACE ORDER ONLINE</span>
      <span>CONFIRMATION</span>
      <span>ORDER PROCESSING</span>
      <span>PREPARING THE FOOD</span>
      <span>LAUNCH!</span>
    </div>

    <div class="line"></div>

    <div class="dots-container">
      <div class="dots">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>
